html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* Color constants  */
  --main-color: rgb(239, 182, 109);
  --second-color: rgb(107, 25, 64);
  --third-color: rgb(212, 94, 70);
  --error-color: rgb(184, 26, 53);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-container {
  height: 90vh;
  max-height: 90vh;
  overflow: scroll;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

main {
  flex-grow: 1;
  flex-shrink: 1;
  height: 90vh;
  max-height: 90vh;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

button {
  background-color: var(--second-color);
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px; 
  border-width: 0px;
}

.errorField {
  border-width: 1px;
  border-color: var(--error-color);
}