.inputPanel {
    flex-grow: 1;
    max-width: 900px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /*border: 3px solid var(--main-color);
    border-radius: 20px; */

    padding: 1em;

}

.inputPanel > h1 {
    background-color: var(--main-color);
    padding: 2px 0.5em;
    border-radius: 10px;
}


.categorySection {
    border: 1px solid var(--second-color);
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 0.5em;
    width: 100%;
    max-width: 800px;
}

h2.categoryHeader {
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    position: relative;
    top: -20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 1em;
}

/* 
    Button row at the window bottom 
    入力ダイアログの下にボタン列（OK,キャンセル）
*/
.buttonRow {
    width: clamp(100px, 80%, 500px);
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 10px;



}

/* Input Element -> flexbox for several components */

.inputRow {

    max-width: 95%;

    display: grid;
    
    grid-template-columns: 3fr 130px 130px 2fr;
    grid-template-areas: "label action effort duration";

    align-items: center;

    margin-bottom: 1.5em;

}

@media (max-width: 700px) and (min-width: 500px) {
    .inputRow {
        grid-template-columns: 1fr 150px 1fr;
        grid-template-areas: "label action effort"
        "duration duration duration";
    }
}

@media (max-width: 499px) {
    .inputRow {
        grid-template-columns: 150px 1fr;
        grid-template-areas: "label label" "action effort" "duration duration";
    }
}

.inputRow > * {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.taskLabel {
    grid-area: label;
}

